    <header>
        <div class="container header-container">
            <div class="logo">
                <i class="fas fa-heartbeat"></i>
                Mutuelle Santé
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="#avantages">Avantages</a></li>
                    <li><a href="#offres">Offres</a></li>
                    <li><a href="#temoignages">Témoignages</a></li>
                    <li><a href="#formulaire">Devis</a></li>
                </ul>
            </nav>
        </div>
    </header>