<header>
	<div class="container header-container">
		<div class="logo">
			<i class="fas fa-heartbeat"></i>
			Mutuelle Santé
		</div>

		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="#avantages">Avantages</a></li>
				<li><a href="#offres">Offres</a></li>
				<li><a href="#temoignages">Témoignages</a></li>
				<li><a href="#formulaire">Devis</a></li>
			</ul>
		</nav>
	</div>
</header>
