<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutuelle Santé - Protégez votre santé</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    
    {% block stylesheets %}
           
			<link rel="stylesheet" href="{{ asset('/css/app.css') }}">
     {% endblock %}
     
</head>
<body>
    <!-- Header & Navigation -->
     {% block header %}
{% include '/partiels/header.html.twig' %}
{% endblock %}
    <!-- Hero Section -->
    <!-- <section class="hero" id="accueil">
        <div class="container hero-content">
            <h1>Protégez votre santé avec notre mutuelle adaptée à vos besoins</h1>
            <p>Une couverture santé complète et personnalisée pour vous et votre famille. Obtenez des remboursements rapides et accédez à un large réseau de professionnels de santé.</p>
            <a href="#formulaire" class="btn">Demander un devis gratuit</a>
        </div>
    </section> -->

    {% block body %}{% endblock %}

     {% block footer %}

        {% include '/partiels/footer.html.twig' %}
    {% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/ad.js') }}"></script>
 {% endblock %}

    
</body>
</html>